/*Definitions*/

@font-face {
	font-family: "Virtue";
	src: url("../fonts/Virtue.ttf");
}
@font-face {
	font-family: "Geneva";
	font-stretch: extra-condensed;
	src: url("../fonts/Geneva.ttf");
}

/*Body and General*/

body {
	font-family: "Geneva";
    font-size: 12px;
}

h3 {
    font-size: 1rem;
}

h4.section-number {
	margin-bottom: 0;
}

h2.section-header {
	margin-top: 5px;
}

/* Tables */

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:5px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:5px 5px;word-break:normal;}
.tg .tg-mim8{border-color:#000000;font-size:12px;text-align:left;vertical-align:top}
.tg .tg-e6q7{background-color:#efefef;border-color:#000000;font-size:12px;font-weight:bold;text-align:left;vertical-align:top}
