@font-face {
	font-family: "Chicago";
	src: url("../fonts/Chicago.ttf");
}
body {
	font-family: "Chicago";
	margin: 25px;
	display: flex;
	flex-direction: column;
	background-color: black;
	width: 1000px;
}
.main-container {
	border-radius: 20px 20px 0px 0px;
	display: flex;
	flex-direction: row;
	background-color: white;
}
.container-2 {
	display: flex;
	border-radius: 0 0 20px 20px;
	flex-direction: column;
	background-color: rgb(170, 170, 170);
	height: 700px;
}
.menu-bar {
	display: inline-flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 45px;
}
.main-container {
	width: 100%;
}
.elements {
	width: 75%;
	display: inline-flex;
}
.element, .right-side-el {
	padding-left: 20px;
	font-size: 14pt;
	margin-top: 10px;
}
.right-side {
	justify-content: flex-end;
	padding-right: 20px;
	width: 25%;
	display: inline-flex;
}

.external {
	color: white;
	margin: 5px;
}

.menu-bar-line {
	border: 1px solid black;
}
.desktop {
	padding: 20px;
}
.window1 {
	width: 700px;
	height: 500px;
	background-color: white;
	position: absolute;
	border: 1px solid black;
	box-shadow: 3px 3px;
}
.title-bar {
	display: flex;
	flex-direction: row;
	height: 40px;
	width: 100%;
	background-color: white;
}
.title-bar-line {
	border: 1px solid black;
}
p.title {
	color: black;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	top: 6px;
	font-size: 14pt;
}
.close {
	position: absolute;
	top: 8px;
	left: 20px;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}
.other-button {
	position: absolute;
	top: 8px;
	right: 20px;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}
.internal-square {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid black;
}

.button-selector1 {
	width: 42.5%;
}
.button-selector2 {
	width: 42.5%;
}
.title {
	width: 15%;
	background-color: white;
}

.small-line {
	width: 12px;
	position: absolute;
	top: 8px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	height: 0px;
}
.small-lines1 {
	position: absolute;
	left: 1px;
}
.small-lines2 {
	position: absolute;
	left: 684px;
}
.large-line {
	width: 86.5%;
	position: absolute;
	top: 8px;
	left: 46px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	height: 0px;
}
.desktop {
	display: flex;
	flex-direction: row;
}
.icons {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 945px;
	justify-content: center;
}
.icon {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.label {
	background-color: white;
}

.content {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
.content-2 {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	height: 91%;
}
.rankings {
	display: flex;
	flex-direction: row;
}
.class1 {
	width: 50%;
}
.class2 {
	width: 50%;
}
p.content {
	margin-top: 0px;
	margin-left: 0;
}
h1.content {
	margin-bottom: 0px;
	margin-left: 0;
}
.icon-img {
	width: 40px;
	height: 40px;
}

a:hover {
	color: gray;
}

a {
	color: gray;
}

.top-link {
	color: black;
	text-decoration: none;
}

.image-text {
	display: flex;
	flex-direction: row;
}

img.image-text {
	width: 200px;
}

p.image-text {
	margin-left: 20px;
}

/*.elements {
	background-color: red;
}
.right-side {
	background-color: orange;
}*/

/*#view {
	padding-left: 15px;
}
#file {
	padding-left: 15px;
}
#edit {
	padding-left: 15px;
}
#special {
	padding-left: 15px;
}*/