body {
	font-family: "Liberation Sans";
	margin: 30px;
	margin-left: 100px;
	margin-right: 100px;
}

h2.subheader {
	font-weight: normal;
	margin-top: 0;
}

.top-bar {
	display: flex;
	flex-direction: row;
}

.box-text {
	width: 95%;
	height: 80px;
}

div.box-shield {
	width: 5%;
}

img.box-shield {
	width: 80px;
	height: 80px;
}

a {
	color: black;
}

a:hover {
	color: grey;
}

a.navigation {
	text-decoration: none;
}

.navigation-bar {
	display: flex;
	flex-direction: row;;
}

details.item {
	margin-right: 30px;
	list-style: none;
	display: flex;
	flex-direction: column;
}

details > summary {
	list-style: none;
	cursor: pointer;
}

summary:hover {
	color: grey;
}

.para-text {
	font-size: 20px;
}

/* Favorites flex */
.favorites {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	height: 300px;
}

.favorites-primary {
	display: flex;
	flex-direction: row;
	width: 40%;
	height: 100%;
}

.favorites-stack {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
}

.level1, .level2 {
	height: 50%;
	display: flex;
	flex-direction: row;
}

.level1 {
	margin-bottom: 10px;
}

img.album-cover {
	height: 94%;
}

/* Responsive */

@media screen and (max-width: 1000px) {
	body {
		margin-left: 10px;
		margin-right: 10px;
	}
	.navigation-bar {
		flex-direction: column;
	}
	.item {
		margin-bottom: 5px;
	}
	.favorites {
		display: flex;
		flex-direction: column;
		height: 400px;
		margin-bottom: 40px;
	}
	.favorites-primary {
		width: 100%;
		height: 50%;
		margin-bottom: 20px;
	}
	.favorites-stack {
		width: 100%;
		height: 50%;
	}
	.top-bar {
		width: 100%;
		height: 100%;
	}
	.box-text {
		width: 90%;
		height: 100%;
	}
}