@font-face {
	font-family: "Chicago";
	src: url("../fonts/Chicago.ttf");
}
body {
	min-width: 820px;
	font-family: "Chicago";
	margin: 25px;
	display: flex;
	flex-direction: column;
	background-color: black;
}
.column-manager {
	display: flex;
	flex-direction: column;
}
.left-side-container {
	width: 1075px; 
	overflow: none;
	margin-right: 20px;
	align-self: left;
	flex-basis: 700px;
}
.right-side-container {
	color: white;
	width: 100%;
}
a.right-side-container {
	color: white;
}
.main-container {
	border-radius: 20px 20px 0px 0px;
	display: flex;
	flex-direction: row;
	background-color: white;
}
.container-2 {
	display: flex;
	border-radius: 0 0 20px 20px;
	flex-direction: column;
	background-color: rgb(170, 170, 170);
	height: 700px;
}
.menu-bar {
	display: inline-flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 45px;
}
.elements {
	width: 75%;
	display: inline-flex;
	height: 150%;
}
.element, .right-side-el {
	padding-left: 20px;
	font-size: 14pt;
	margin-top: 10px;
}

#file-dropdown {
	visibility: hidden;
	position: absolute;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2px;
	left: 50px;
	top: 40px;
	border: 1px solid black;
	box-shadow: 3px 3px;
	z-index: 10;
}
#file-dropdown:hover {
	visibility: visible;
}
#file:hover + #file-dropdown {
	visibility: visible;
}
#edit-dropdown {
	visibility: hidden;
	position: absolute;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2px;
	left: 105px;
	top: 40px;
	border: 1px solid black;
	box-shadow: 3px 3px;
	z-index: 10;
}
#edit-dropdown:hover {
	visibility: visible;
}
#edit:hover + #edit-dropdown {
	visibility: visible;
}
#view-dropdown {
	visibility: hidden;
	position: absolute;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2px;
	left: 200px;
	top: 40px;
	border: 1px solid black;
	box-shadow: 3px 3px;
	z-index: 10;
}
#view-dropdown:hover {
	visibility: visible;
}
#view:hover + #view-dropdown {
	visibility: visible;
}
#special-dropdown {
	visibility: hidden;
	position: absolute;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2px;
	left: 285px;
	top: 40px;
	border: 1px solid black;
	box-shadow: 3px 3px;
	z-index: 10;
}
#special-dropdown:hover {
	visibility: visible;
}
#special:hover + #special-dropdown {
	visibility: visible;
}
#calculus-dropside {
	visibility: hidden;
	position: absolute;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2px;
	left: 285px;
	top: 25px;
	border: 1px solid black;
	box-shadow: 3px 3px;
	z-index: 10;
	width: 100%;
}
#calculus-dropside:hover {
	visibility: visible;
}
#calculus:hover + #calculus-dropside {
	visibility: visible;
}


.menu-item {
	text-decoration: none;
	color: black;
}
a.menu-item:hover {
	color: gray;
}
.right-side {
	justify-content: flex-end;
	padding-right: 20px;
	width: 25%;
	display: inline-flex;
}

.external {
	color: white;
	margin: 5px;
}

.menu-bar-line {
	border: 1px solid black;
}
.desktop {
	padding: 20px;
	display: flex;
	flex-direction: row;
}
.window1 {
	width: 828px;
	min-width: 600px;
	height: 500px;
	background-color: white;
	/*position: absolute;*/
	border: 1px solid black;
	box-shadow: 3px 3px;
}
.desktopexperience-window {
	left: 300px;
	top: 280px;
	width: 500px;
	min-width: 400px;
	height: 220px;
	background-color: white;
	/*position: absolute;*/
	border: 1px solid black;
	box-shadow: 3px 3px;
}
.calculus-side-window {
	left: 45px;
	top: 90px;
	width: 275px;
	min-width: 275px;
	height: 645px;
	background-color: white;
	/*position: absolute;*/
	border: 1px solid black;
	box-shadow: 3px 3px;
}
.calculus-main-window {
	left: 340px;
	top: 90px;
	width: 740px;
	min-width: 740px;
	height: 645px;
	background-color: white;
	/*position: absolute;*/
	border: 1px solid black;
	box-shadow: 3px 3px;
}

.title-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	height: 40px;
	background-color: white;
	padding-left: 3px;
}
.title-bar-line {
	border: 0.8px solid black;
}
p.window-title {
	color: black;
	text-align: center;
	font-size: 14pt;
}
.close {
	width: 20px;
	height: 20px;
	border: 1.6px solid black;
}
.other-button {
	width: 20px;
	height: 20px;
	border: 1.6px solid black;
}
.internal-square {
	/*position: absolute;*/
	width: 10px;
	height: 10px;
	border: 1.6px solid black;
}
.window-title {
	/*width: 15%;*/
	/*background-color: white;*/
	margin-left: 3px;
	margin-right: 3px;
}
.small-line {
	width: 12px;
	top: 8px;
	border: 1px solid black;
	height: 0px;
}
.middle-line {
	width: 315px;
	top: 8px;
	border: 1px solid black;
	height: 0px;
}
.middle-line-de {
	width: 153px;
	top: 8px;
	border: 1px solid black;
	height: 0px;
}
.middle-line-about {
	width: 113px;
	top: 8px;
	border: 1px solid black;
	height: 0px;
}
.middle-line-csw {
	width: 227px;
	top: 8px;
	border: 1px solid black;
	height: 0px;
}
.middle-line-mht {
	width: 150px;
	top: 8px;
	border: 1px solid black;
	height: 0px;
}
.middle-line-cpe {
	width: 194px;
	top: 8px;
	border: 1px solid black;
	height: 0px;
}
.middle-line-prax {
	width: 223px;
	top: 8px;
	border: 1px solid black;
	height: 0px;
}
.not-lower {
	margin-bottom: 3px;
}
.line-collection {
	margin-right: 3px;
}
.line-collection2 {
	margin-left: 3px;
	margin-right: 3px;
}
.topic-navigation {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 5px;
}
.chapter-heading {
	font-size: 18px;
}
.any-link {
	text-decoration: none;
	color: black;
}
.any-link:hover {
	color: gray;
}
/*.small-lines2 {
	position: absolute;
}*/
/*.large-line {
	width: 86.5%;
	position: absolute;
	top: 8px;
	left: 46px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	height: 0px;
}*/
.icons {
	display: flex;
	flex-direction: column;
	/*position: absolute;*/
	left: 945px;
	justify-content: center;
}
.icon {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.label {
	background-color: white;
}

.content {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
.icon-img {
	width: 40px;
	height: 40px;
}

#file:hover, #edit:hover, #view:hover, #special:hover {
	color: gray;
}

/*.elements {
	background-color: red;
}
.right-side {
	background-color: orange;
}*/

/*#view {
	padding-left: 15px;
}
#file {
	padding-left: 15px;
}
#edit {
	padding-left: 15px;
}
#special {
	padding-left: 15px;
}*/

/*Blog posts*/

p.content {
	margin-top: 0px;
	margin-left: 0;
	margin-right: 20px;
}
h3.content {
	margin-top: 0px;
	margin-left: 0;
}
h1.content {
	margin-top: 20px;
	margin-left: 0;
	margin-bottom: 0;
}
.image-text {
	display: flex;
	flex-direction: row;
}
img.image-text {
	width: 40%;
}

p.image-text {
	margin-left: 20px;
	margin-right: 20px;
	width: 60%;
}
.scrollable {
	overflow-y: scroll;
}
.scrollable-calculus-navigator {
	overflow-y: scroll;
	height: 95%;
}
/*p.content, p.image-text {
	font-family: sans-serif;
}*/
#image-of-brody {
	min-width: 200px;
}
.hanging-indent {
  padding-left: 22px ;
  text-indent: -22px ;
}
 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 3px;
}
td.first-column {
	background-color: rgb(200, 200, 200);
	width: 25%;
}
.underneath {
	margin-left: 15px;
	margin-right: 5px;
}
.mac_icon {
	width: 25px; 
	height: 25px;
	margin-top: 10px
}
p.right-side-el {
	margin-right: 20px
}