@import "platinum.css";
@import "navigation.css";

/*Definitions*/

@font-face {
	font-family: "Virtue";
	src: url("../fonts/Virtue.ttf");
}
@font-face {
	font-family: "Geneva";
	font-stretch: extra-condensed;
	src: url("../fonts/Geneva.ttf");
}

/*Body and General*/

body {
	background-color: #9999cc;
	font-family: "Virtue";
	margin: 25px;
}

/*Menu Bar*/

#menu-bar {
/*	background-color: #dddddd;*/
	background-image: linear-gradient(#fff 0, #ddd 5% 92%, #6e6e6e 100%);
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	border-radius: 5px;
/*	z-index: 0;*/
/*	font-size: 14px;*/
}

#left-menu-bar-container {
	flex: 95%;
	flex-direction: row;
}

p.lmbc, p.rmbc {
	margin: 0;
}

div.lmbc, div.rmbc, img.rmbc {
	margin-right: 10px;
}

div.apple-icon {
	margin-right: 15px;
}

div.menubarobject {
	margin-right: 13px;
	font-size: 15px;
	align-self: center;
}

#right-menu-bar-container {
	flex: 5%;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

img.menubaricon {
	width: 16px;
	height: 16px;
}

/*Edits to Mac UI*/

span.window-title {
	font-size: 15px;
}

/*Content*/

div.bookshelf {
	display: flex;
	flex-direction: row;
}

#inner-select-col {
	flex: 40%;
	background-color: #3a3a25;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

#inner-content-col {
	flex: 60%;
	background-color: #3a3a25;
	border: 1px solid black;
}

#isc-title {
	background-color: #3a3a25;
	display: inline-flex;
}

p.isc-title-content {
	color: #cacbb3;
	margin: 5px;
	font-family: "Times New Roman";
	font-weight: bold;
}

p.isc-header-content {
	color: #861300;
	font-family: "Geneva";
	font-size: 12px;
}

#isc-header-text {
	font-weight: bold;
	margin-bottom: 5px;
}

#isc-header2-text {
	color: black;
	font-family: "Geneva";
	font-size: 12px;
	margin-top: 20px;
}

ul.isc-header-content {
	color: #861300;
	font-family: "Geneva";
	font-size: 12px;
	margin-bottom: 15px;
}

label.isc-radio {
	color: #861300;
	font-family: "Geneva";
	font-size: 12px;
}

input.isc-radio {
	border: 1px solid black;
}

#isc-rest {
	flex: 94%;
	background-color: #cacbb3;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

div.isc-header {
	flex: 25%;
}

#select-box {
	flex: 75%;
	background-color: white;
}

details.isc-select-box {
	color: black;
	padding: 0;
	margin: 8px;
	font-family: "Geneva";
	font-size: 12px;
}

#isc-pseudosearch {
	width: 100%;
	font-size: 12px;
	margin-top: 10px;
}

#isc-button {
	background-color: #861300;
	font-family: "Geneva";
	color: white;
	font-size: 12px;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#icon_drop-down {
	color: #cacbb3;
	padding-left: 2px;
	padding-top: 2px;
}

#logo-icon {
	padding-top: 6px;
	padding-left: 8px;
}

/*Temp*/

.container-temp {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*About This Computer window*/

#about .inner {
    left: 20px;
    top: 30px;
}
#about .inner {
    width: 600px;
    height: 400px;
}

div.about_panel {
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	font-family: "Geneva";
}

div.about-banner {
	background-color: white;
    border: 1px solid #222;
    box-shadow: inset 1px 1px 0 0 #ccc, inset -1px -1px 0 0 #888;
	flex: 30%;
}

div.about-info {
	flex: 40%;
}

div.about-programs {
	background: linear-gradient(
        tobottomright,
        #999,
        #aaa,
        #bbb,
        #ccc,
        #ddd,
        #eee,
        #fff
    );
    border: 1px solid #222;
    box-shadow: inset 1px 1px 0 0 #ccc, inset -1px -1px 0 0 #888;
	flex: 30%;
}

#about-banner-image {
	width: 100%;
}

p.about-info-text {
	font-size: 12px;
	font-family: "Geneva";
	margin-left: 5px;
}

ul.about-info-text {
	font-size: 12px;
	font-family: "Geneva";
	list-style-type: circle;
	margin-bottom: 2px;
}