body {
	font-family: "Lucida Grande", "Lucida Sans", sans-serif;
	margin: 100px;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	margin-bottom: 3px;
}

h2.side-bar {
	font-weight: normal;
}

.container {
	display: flex;
}

.side-bar {
	display: flex;
	flex-direction: column;
	width: 25%;
}

.content-area {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.hierarchy {
	padding: 0;
}

a.hierarchy {
	text-decoration: underline;
}

li.section-heading {
	list-style-type: none;
	font-size: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
}

a.decorated {
	text-decoration: underline;
}